In [21]:
# We may create vectors of class numeric or character with the concatenate function
codes <- c(380, 124, 818)
country <- c("italy", "canada", "egypt")

# We can also name the elements of a numeric vector
# Note that the two lines of code below have the same result
codes <- c(italy = 380, canada = 124, egypt = 818)
codes <- c("italy" = 380, "canada" = 124, "egypt" = 818)

# We can also name the elements of a numeric vector using the names() function
codes <- c(380, 124, 818)
country <- c("italy","canada","egypt")
names(codes) <- country
print(codes)
# Using square brackets is useful for subsetting to access specific elements of a vector
codes[2]
codes[c(1,3)]
codes[1:2]

 italy canada  egypt
   380    124    818

canada
   124

italy egypt
  380   818

 italy canada
   380    124

In [22]:
# If the entries of a vector are named, they may be accessed by referring to their name
codes["canada"]
codes[c("egypt","italy")]

canada
   124

egypt italy
  818   380

In [23]:
x <- c(1, "canada", 3)
class(x)
x <- c("canada", 3)
class(x)

[1] "character"

[1] "character"

In [24]:
# Associate the cost values with its corresponding food item
cost <- c(50, 75, 90, 100, 150)
food <- c("pizza", "burgers", "salads", "cheese", "pasta")
names(cost) <- food

# You already wrote this code
temp <- c(35, 88, 42, 84, 81, 30)
city <- c("Beijing", "Lagos", "Paris", "Rio de Janeiro", "San Juan", "Toronto")

# Associate the temperature values with its corresponding city
names(temp) <-city
temp

       Beijing          Lagos          Paris Rio de Janeiro       San Juan
            35             88             42             84             81
       Toronto
            30

In [25]:
# Access the cost of pizza and pasta from our food list 
cost[c(1,5)]

# Define temp
temp <- c(35, 88, 42, 84, 81, 30)
city <- c("Beijing", "Lagos", "Paris", "Rio de Janeiro", "San Juan", "Toronto")
names(temp) <- city

# Access the temperatures of Paris and San Juan
temp[c("Paris","San Juan")]

pizza pasta
   50   150

   Paris San Juan
      42       81

In [26]:
# Create a vector with the multiples of 7, smaller than 50.
seq(7, 49, 7) 

# Create a vector containing all the positive odd numbers smaller than 100.
# The numbers should be in ascending order
seq(1,99,2)

[1]  7 14 21 28 35 42 49

 [1]  1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49
[26] 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [27]:
# Create a sequence of numbers from 6 to 55, with 4/7 increments and determine its length
length(seq(6,55,4/7))

[1] 86

In [28]:
# Check the class of 1, assigned to the object a
class(1)

# Confirm the class of 1L is integer
class(1L)

[1] "numeric"

[1] "integer"

In [30]:
# Define the vector x
x <- c(1, 3, 5,"a")

# Note that the x is character vector
x

# Redefine `x` to typecast it to get an integer vector using `as.numeric`.
# You will get a warning but that is okay
x<-as.numeric(x)
x

[1] "1" "3" "5" "a"

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1]  1  3  5 NA