#Practice Exercise. National Center for Health Statistics
Exercise 1. Blood pressure 1

In [24]:
install.packages("NHANES")
library(dplyr)
library(NHANES)
head(NHANES)
## fill in what is needed
tab <- NHANES %>% filter(AgeDecade==" 20-29" & Gender=="female")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

  ID    SurveyYr Gender Age AgeDecade AgeMonths Race1 Race3 Education
1 51624 2009_10  male   34   30-39    409       White NA    High School
2 51624 2009_10  male   34   30-39    409       White NA    High School
3 51624 2009_10  male   34   30-39    409       White NA    High School
4 51625 2009_10  male    4   0-9       49       Other NA    NA
5 51630 2009_10  female 49   40-49    596       White NA    Some College
6 51638 2009_10  male    9   0-9      115       White NA    NA
  MaritalStatus ⋯ RegularMarij AgeRegMarij HardDrugs SexEver SexAge
1 Married       ⋯ No           NA          Yes       Yes     16
2 Married       ⋯ No           NA          Yes       Yes     16
3 Married       ⋯ No           NA          Yes       Yes     16
4 NA            ⋯ NA           NA          NA        NA      NA
5 LivePartner   ⋯ No           NA          Yes       Yes     12
6 NA            ⋯ NA           NA          NA        NA      NA
  SexNumPartnLife SexNumPartYear SameSex SexOrientation PregnantNow
1  8               1             No      Heterosexual   NA
2  8               1             No      Heterosexual   NA
3  8               1             No      Heterosexual   NA
4 NA              NA             NA      NA             NA
5 10               1             Yes     Heterosexual   NA
6 NA              NA             NA      NA             NA

Exercise 2. Blood pressure 2

In [26]:

## complete this line of code.
ref <- NHANES %>% filter(AgeDecade == " 20-29" & Gender == "female") %>%summarize(average = mean(BPSysAve,na.rm=TRUE),standard_deviation=sd(BPSysAve,na.rm=TRUE))
ref

  average  standard_deviation
1 108.4224 10.14668

Exercise 3. Summarizing averages

In [27]:
library(dplyr)
library(NHANES)
data(NHANES)
## modify the code we wrote for previous exercise.
ref_avg <- NHANES %>%
  filter(AgeDecade == " 20-29" & Gender == "female") %>%
  summarize(average = mean(BPSysAve, na.rm = TRUE), 
            standard_deviation = sd(BPSysAve, na.rm=TRUE))%>%pull(average)
ref_avg

[1] 108.4224

Exercise 4. Min and max

In [28]:
data(NHANES)
## complete the line
NHANES %>%
      filter(AgeDecade == " 20-29"  & Gender == "female") %>%
      summarize(minbp=min(BPSysAve,na.rm=TRUE),maxbp=max(BPSysAve,na.rm=TRUE))

  minbp maxbp
1 84    179

Exercise 5. group_by

In [29]:
##complete the line with group_by and summarize
NHANES %>%
      filter(Gender == "female") %>%group_by(AgeDecade) %>%
      summarize(average=mean(BPSysAve,na.rm=TRUE),standard_deviation=sd(BPSysAve,na.rm=TRUE))

`summarise()` ungrouping output (override with `.groups` argument)

  AgeDecade average   standard_deviation
1  0-9       99.95041  9.071798
2  10-19    104.27466  9.461431
3  20-29    108.42243 10.146681
4  30-39    111.25512 12.314790
5  40-49    115.49385 14.530054
6  50-59    121.84245 16.179333
7  60-69    127.17787 17.125713
8  70+      133.51652 19.841781
9 NA        141.54839 22.908521

Exercise 6. group_by example 2

In [30]:
NHANES %>% 
      filter(Gender == "male") %>% group_by(AgeDecade) %>% summarize(average=mean(BPSysAve,na.rm=TRUE),standard_deviation = sd(BPSysAve,na.rm=TRUE))

`summarise()` ungrouping output (override with `.groups` argument)

  AgeDecade average   standard_deviation
1  0-9       97.41912  8.317367
2  10-19    109.59789 11.227769
3  20-29    117.85084 11.274795
4  30-39    119.40063 12.306656
5  40-49    120.78390 13.968338
6  50-59    125.75000 17.760536
7  60-69    126.88578 17.478117
8  70+      130.20172 18.657475
9 NA        136.40000 23.534731

Exercise 7. group_by example 3

In [31]:
library(NHANES)
data(NHANES)
NHANES %>%
       group_by(AgeDecade,Gender) %>% summarize(average=mean(BPSysAve,na.rm=TRUE),standard_deviation = sd(BPSysAve,na.rm=TRUE))

`summarise()` regrouping output by 'AgeDecade' (override with `.groups` argument)

   AgeDecade Gender average   standard_deviation
1   0-9      female  99.95041  9.071798
2   0-9      male    97.41912  8.317367
3   10-19    female 104.27466  9.461431
4   10-19    male   109.59789 11.227769
5   20-29    female 108.42243 10.146681
6   20-29    male   117.85084 11.274795
7   30-39    female 111.25512 12.314790
8   30-39    male   119.40063 12.306656
9   40-49    female 115.49385 14.530054
10  40-49    male   120.78390 13.968338
11  50-59    female 121.84245 16.179333
12  50-59    male   125.75000 17.760536
13  60-69    female 127.17787 17.125713
14  60-69    male   126.88578 17.478117
15  70+      female 133.51652 19.841781
16  70+      male   130.20172 18.657475
17 NA        female 141.54839 22.908521
18 NA        male   136.40000 23.534731

Exercise 8. Arrange

In [33]:
library(dplyr)
library(NHANES)
data(NHANES)
NHANES %>%
      filter(AgeDecade ==" 40-49" & Gender == "male")  %>% group_by(Race1) %>% summarize(average=mean(BPSysAve,na.rm=TRUE),standard_deviation = sd(BPSysAve,na.rm=TRUE))%>% arrange(average)

`summarise()` ungrouping output (override with `.groups` argument)

  Race1    average  standard_deviation
1 White    119.9188 13.42355
2 Other    120.4000 16.20241
3 Hispanic 121.6098 11.06770
4 Mexican  121.8500 13.93756
5 Black    125.8387 17.06707