Load the heights dataset from dslabs:

In [120]:
library(dslabs)
data(heights)

Write an ifelse() statement that returns 1 if the sex is Female and 2 if the sex is Male.
1. What is the sum of the resulting vector?

In [122]:
sum(ifelse(heights$sex == "Female", 1, 2))

[1] 1862

2. Write an ifelse() statement that takes the height column and returns the height if it is greater than 72 inches and returns 0 otherwise.

What is the mean of the resulting vector?

In [123]:
 mean(ifelse(heights$height > 72, heights$height, 0))

[1] 9.65

3. Write a function inches_to_ft that takes a number of inches x and returns the number of feet. One foot equals 12 inches.

What is inches_to_ft(144)?

In [124]:
inches_to_ft <- function(x){x/12}
inches_to_ft(144)

[1] 12

How many individuals in the heights dataset have a height less than 5 feet?

In [125]:
sum(inches_to_ft(heights$height) < 5)

[1] 20

4. Which of the following are TRUE?

In [ ]:
any(TRUE, TRUE, TRUE)
any(TRUE, TRUE, FALSE)
any(TRUE, FALSE, FALSE)
all(TRUE, TRUE, TRUE)

5. Given an integer x, the factorial of x is called x! and is the product of all integers up to and including x. The factorial() function computes factorials in R. For example, factorial(4) returns 4! = 4 × 3 × 2 × 1 = 24.

In [127]:
# define a vector of length m
m <- 10
f_n <- vector(length = m)

# make a vector of factorials
for(n in 1:m){
f_n[n] <- factorial(n)
}

# inspect f_n
f_n

 [1]       1       2       6      24     120     720    5040   40320  362880
[10] 3628800