In [2]:
install.packages("dslabs")
library(dslabs)
data(murders)
head(murders)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

  state      abb region population total
1 Alabama    AL  South   4779736    135
2 Alaska     AK  West     710231     19
3 Arizona    AZ  West    6392017    232
4 Arkansas   AR  South   2915918     93
5 California CA  West   37253956   1257
6 Colorado   CO  West    5029196     65

## Data tyoe 
- Categorical data are variables that are defined by a small number of groups.
    - Ordinal categorical data have an inherent order to the categories (mild/medium/hot, for example).
    - Non-ordinal categorical data have no order to the categories.
- Numerical data take a variety of numeric values.
    - Continuous variables can take any value.
    - Discrete variables are limited to sets of specific values.

In [3]:
library(dslabs)
data(heights)
x <- heights$height
length(x)
#Check unique
length(unique(x))

[1] 1050

[1] 139

In [5]:
head(table(x))

x
   50    51    52    53 53.77    54
    2     1     2     1     1     1

In [7]:
tab <- table(heights$height)
sum(tab==1)

[1] 63


## Exercise 6. Data types - heights
Since there are a finite number of reported heights and technically the height can be considered ordinal, which of the following is true:


It is more effective to consider heights to be numerical given the number of unique values we observe and the fact that if we keep collecting data even more will be observed.