In [26]:
install.packages("dslabs")
library(dslabs)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [27]:
head(murders)
# defining murder rate as before
murder_rate <- murders$total / murders$population * 100000
# creating a logical vector that specifies if the murder rate in that state is less than or equal to 0.71
index <- murder_rate <= 0.71
# determining which states have murder rates less than or equal to 0.71
murders$state[index]
# calculating how many states have a murder rate less than or equal to 0.71
sum(index)
# creating the two logical vectors representing our conditions
west <- murders$region == "West"
safe <- murder_rate <= 1
# defining an index and identifying states with both conditions true
index <- safe & west
murders$state[index]

  state      abb region population total
1 Alabama    AL  South   4779736    135
2 Alaska     AK  West     710231     19
3 Arizona    AZ  West    6392017    232
4 Arkansas   AR  South   2915918     93
5 California CA  West   37253956   1257
6 Colorado   CO  West    5029196     65

[1] "Hawaii"        "Iowa"          "New Hampshire" "North Dakota"
[5] "Vermont"

[1] 5

[1] "Hawaii"  "Idaho"   "Oregon"  "Utah"    "Wyoming"

In [28]:
x <- c(FALSE, TRUE, FALSE, TRUE, TRUE, FALSE)
which(x)    # returns indices that are TRUE

[1] 2 4 5

In [29]:
# to determine the murder rate in Massachusetts we may do the following
index <- which(murders$state == "Massachusetts")
index
murder_rate[index]

[1] 22

[1] 1.802179

In [30]:
# to obtain the indices and subsequent murder rates of New York, Florida, Texas, we do:
index <- match(c("New York", "Florida", "Texas"), murders$state)
index

[1] 33 10 44

In [31]:
murders$state[index]
murder_rate[index]

[1] "New York" "Florida"  "Texas"

[1] 2.667960 3.398069 3.201360

In [33]:
x <- c("a", "b", "c", "d", "e")
y <- c("a", "d", "f")
y %in% x #out folowing size of y

[1]  TRUE  TRUE FALSE

In [34]:
# to see if Boston, Dakota, and Washington are states
c("Boston", "Dakota", "Washington") %in% murders$state

[1] FALSE FALSE  TRUE

#Practice

##Question1:

In [35]:
# Store the murder rate per 100,000 for each state, in `murder_rate`
murder_rate <- murders$total / murders$population * 100000

# Store the `murder_rate < 1` in `low` 
low <- murder_rate <1

##Question2:
The function which() helps us know directly, which values are low or high, etc. Let's use it in this question.

In [36]:
# Store the murder rate per 100,000 for each state, in murder_rate
murder_rate <- murders$total/murders$population*100000

# Store the murder_rate < 1 in low 
low <- murder_rate < 1

# Get the indices of entries that are below 1
which(low)

 [1] 12 13 16 20 24 30 35 38 42 45 46 51

##Question3:
The code above shows us the states with populations smaller than one million.

In [37]:
# Store the murder rate per 100,000 for each state, in murder_rate
murder_rate <- murders$total/murders$population*100000

# Store the murder_rate < 1 in low 
low <- murder_rate < 1

# Names of states with murder rates lower than 1
murders$state[which(low)]

 [1] "Hawaii"        "Idaho"         "Iowa"          "Maine"
 [5] "Minnesota"     "New Hampshire" "North Dakota"  "Oregon"
 [9] "South Dakota"  "Utah"          "Vermont"       "Wyoming"

##Question4:
Filtering

In [38]:
# Store the murder rate per 100,000 for each state, in `murder_rate`
murder_rate <- murders$total/murders$population*100000

# Store the `murder_rate < 1` in `low` 
low <- murder_rate < 1

# Create a vector ind for states in the Northeast and with murder rates lower than 1. 
ind <- low&(murders$region =="Northeast")
# Names of states in `ind` 
murders$state[ind]

[1] "Maine"         "New Hampshire" "Vermont"

##Question5:
In a previous exercise we computed the murder rate for each state and the average of these numbers.

How many states are below the average?

In [40]:
# Store the murder rate per 100,000 for each state, in murder_rate
murder_rate <- murders$total/murders$population*100000

# Compute the average murder rate using `mean` and store it in object named `avg`
avg <- mean(murder_rate)

# How many states have murder rates below avg ? Check using sum 
sum(murder_rate < avg)

[1] 27

#Question6:
In this exercise we use the match function to identify the states with abbreviations AK, MI, and IA.

In [42]:
# Store the 3 abbreviations in a vector called `abbs` (remember that they are character vectors and need quotes)
abbs <- c('AK','MI','IA')
# Match the abbs to the murders$abb and store in ind
ind <- match(abbs,murders$abb) #return size of abbs
# Print state names from ind
murders$state[ind]

[1] "Alaska"   "Michigan" "Iowa"

##Question7:
###%in%
If rather than an index we want a logical that tells us whether or not each element of a first vector is in a second, we can use the function %in%

In [43]:
# Store the 5 abbreviations in `abbs`. (remember that they are character vectors)
abbs <- c('MA','ME','MI','MO','MU')

# Use the %in% command to check if the entries of abbs are abbreviations in the the murders data frame
abbs %in% murders$abb

[1]  TRUE  TRUE  TRUE  TRUE FALSE

##Question8: 
Logical operator

In [44]:
# Store the 5 abbreviations in abbs. (remember that they are character vectors)
abbs <- c("MA", "ME", "MI", "MO", "MU") 

# Use the `which` command and `!` operator to find out which index abbreviations are not actually part of the dataset and store in `ind`
ind <- which(!abbs%in%murders$abb)
# Names of abbreviations in `ind`
abbs[ind]

[1] "MU"