In [46]:
# installing and loading the dplyr package
install.packages("dplyr")
install.packages("dslabs")
library(dplyr)
# adding a column with mutate
library(dslabs)
data("murders")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [47]:
murders <- mutate(murders, rate = total / population * 100000)
# subsetting with filter
filter(murders, rate <= 0.71)
# selecting columns with select
new_table <- select(murders, state, region, rate)

  state         abb region        population total rate
1 Hawaii        HI  West          1360301     7    0.5145920
2 Iowa          IA  North Central 3046355    21    0.6893484
3 New Hampshire NH  Northeast     1316470     5    0.3798036
4 North Dakota  ND  North Central  672591     4    0.5947151
5 Vermont       VT  Northeast      625741     2    0.3196211

In [48]:
# using the pipe
murders %>% select(state, region, rate) %>% filter(rate <= 0.71)

  state         region        rate
1 Hawaii        West          0.5145920
2 Iowa          North Central 0.6893484
3 New Hampshire Northeast     0.3798036
4 North Dakota  North Central 0.5947151
5 Vermont       Northeast     0.3196211

##Creating DataFrames

In [50]:
# creating a data frame with stringAsFactors = FALSE
grades <- data.frame(names = c("John", "Juan", "Jean", "Yao"), 
                     exam_1 = c(95, 80, 90, 85), 
                     exam_2 = c(90, 85, 85, 90),
                     stringsAsFactors = FALSE)
grades

  names exam_1 exam_2
1 John  95     90
2 Juan  80     85
3 Jean  90     85
4 Yao   85     90

#Practice
##Question1:
Use the function mutate to add a murders column named rate with the per 100,000 murder rate.

In [51]:
# Loading data
library(dslabs)
data(murders)

# Loading dplyr
library(dplyr)

# Redefine murders so that it includes a column named rate with the per 100,000 murder rates
murders<-mutate(murders,rate = total/population*100000)

##Question2
Mutate

In [55]:
# Note that if you want ranks from highest to lowest you can take the negative and then compute the ranks 
x <- c(88, 100, 83, 92, 94)
rank(-x)

# Defining rate
rate <-  murders$total/ murders$population * 100000

# Redefine murders to include a column named rank
# with the ranks of rate from highest to lowest
murders <- mutate(murders,rank=rank(-rate))
head(murders)

[1] 4 1 5 3 2

  state      abb region population total rate     rank
1 Alabama    AL  South   4779736    135  2.824424 23
2 Alaska     AK  West     710231     19  2.675186 27
3 Arizona    AZ  West    6392017    232  3.629527 10
4 Arkansas   AR  South   2915918     93  3.189390 17
5 California CA  West   37253956   1257  3.374138 14
6 Colorado   CO  West    5029196     65  1.292453 38

##Question3:
Select

In [57]:
# Load dplyr
library(dplyr)

# Use select to only show state names and abbreviations from murders
head(select(murders,state,abb))

  state      abb
1 Alabama    AL
2 Alaska     AK
3 Arizona    AZ
4 Arkansas   AR
5 California CA
6 Colorado   CO

##Question4:
filter

In [58]:
# Add the necessary columns
murders <- mutate(murders, rate = total/population * 100000, rank = rank(-rate))

# Filter to show the top 5 states with the highest murder rates
filter(murders,rank<=5)

  state                abb region        population total rate      rank
1 District of Columbia DC  South          601723     99   16.452753 1
2 Louisiana            LA  South         4533372    351    7.742581 2
3 Maryland             MD  South         5773552    293    5.074866 4
4 Missouri             MO  North Central 5988927    321    5.359892 3
5 South Carolina       SC  South         4625364    207    4.475323 5

##Question 5:
filter with !=

In [59]:
# Use filter to create a new data frame no_south
no_south <- filter(murders,region !="South")

# Use nrow() to calculate the number of rows
nrow(no_south)

[1] 34

##Question 6:
filter with %in%

In [60]:
# Create a new data frame called murders_nw with only the states from the northeast and the west
murders_nw  = filter(murders,region%in% c("Northeast","West"))
# Number of states (rows) in this category 
nrow(murders_nw)

[1] 22

##Question 7:
filtering by two conditions

In [61]:
# add the rate column
murders <- mutate(murders, rate =  total / population * 100000, rank = rank(-rate))

# Create a table, call it my_states, that satisfies both the conditions 
my_states <- filter(murders,rate<1 & region%in%c('Northeast','West'))
# Use select to show only the state name, the murder rate and the rank
my_states %>%select(state,rate,rank)

  state         rate      rank
1 Hawaii        0.5145920 49
2 Idaho         0.7655102 46
3 Maine         0.8280881 44
4 New Hampshire 0.3798036 50
5 Oregon        0.9396843 42
6 Utah          0.7959810 45
7 Vermont       0.3196211 51
8 Wyoming       0.8871131 43

##QUestion 8:
Using the pipe %>%

In [63]:
# Load library
library(dplyr)

## Define the rate column
murders <- mutate(murders, rate =  total / population * 100000, rank = rank(-rate))

# show the result and only include the state, rate, and rank columns, all in one line, in that order
filter(murders, region %in% c("Northeast", "West") & rate < 1 )%>% select(state, rate, rank)

  state         rate      rank
1 Hawaii        0.5145920 49
2 Idaho         0.7655102 46
3 Maine         0.8280881 44
4 New Hampshire 0.3798036 50
5 Oregon        0.9396843 42
6 Utah          0.7959810 45
7 Vermont       0.3196211 51
8 Wyoming       0.8871131 43

#Question 9:
mutate, filter and select

In [64]:
# Loading the libraries
library(dplyr)
data(murders)

# Create new data frame called my_states (with specifications in the instructions)
my_states <- murders%>%mutate(rate =  total / population * 100000, rank = rank(-rate))%>%filter(region %in% c("Northeast", "West") & rate < 1)%>%select(state,rate,rank)
my_states

  state         rate      rank
1 Hawaii        0.5145920 49
2 Idaho         0.7655102 46
3 Maine         0.8280881 44
4 New Hampshire 0.3798036 50
5 Oregon        0.9396843 42
6 Utah          0.7959810 45
7 Vermont       0.3196211 51
8 Wyoming       0.8871131 43